BASE_UI_URL=http://speak-ukrainian.eastus2.cloudapp.azure.com/dev
BASE_API_URL=http://speak-ukrainian.eastus2.cloudapp.azure.com/dev/api
IMPLICITY_WAIT=10
EXPLICIT_WAIT=10
HEADLESS=TRUE
WINDOW_SIZE=1600,1000
MAXIMIZE=TRUE
USER_NAME=user
USER_PASSWORD=password
USER_EMAIL=user@email.com
MANAGER_EMAIL=manager@email.com
MANAGER_PASSWORD=password
