BASE_UI_URL=https://speak-ukrainian.org.ua/
BASE_API_URL=https://api.speak-ukrainian.org.ua/
IMPLICITY_WAIT=10
EXPLICIT_WAIT=10
HEADLESS=TRUE
USER_NAME=user
USER_PASSWORD=password
USER_EMAIL=user@email.com
